@page  
{ 
    size: A4;
    margin: 25mm 25mm 25mm 25mm;  
    header: '';
    footer: '';
} 

:root {
  --a4width: 21cm;
  --a4height: 29.7cm;
  --cellWidth: 2cm;
  --cellHeight: 2cm;
}

body {
  display: flex;
  font-family: "KaiTi_GB2312";
}

.source {
  display: inline-block;
}

.preview {
  display: inline-block;
  position: relative;
  border: 1px solid black;
  width: var(--a4width);
  height: var(--a4height);
}

.line {
}

.cell {
  display: inline-block;
}

.dline {
  height: 0.5cm;
  width: 100%;
  border-bottom: 1px solid black;
}

.cellInner {
  display: inline-block;
  position: relative;
  width: var(--cellWidth);
  height: var(--cellHeight);
  border: 1px solid black;
  line-height: var(--cellHeight);
  text-align: center;
  font-size: 1cm;
  margin: 0.2cm;
}
.cellHorizontal {
  position: absolute;
  top: 50%;
  left: 5%;
  bottom: 0cm;
  width: 90%;
  border-top: 0.5px dotted gray;
}
.cellVertical {
  position: absolute;
  left: 50%;
  top: 5%;
  right: 0cm;
  height: 90%;
  border-left: 0.5px dotted gray;
}

@media print {
  body, body *{
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .source {
    display: none;
  }
  .preview {
    display: block;
  }
}
