body {
  font-family: "KaiTi_GB2312";
}

:root {
  --cellWidth: 2cm;
  --cellHeight: 2cm;
}

.line {
}

.cell {
  display: inline-block;
}

.dline {
  height: 0.5cm;
  width: 100%;
  border-bottom: 1px solid black;
}

.dlinepy {
  font-weight: 600;
  text-align: center;
}

.cellInner {
  display: inline-block;
  position: relative;
  width: var(--cellWidth);
  height: var(--cellHeight);
  border: 1px solid black;
  line-height: var(--cellHeight);
  text-align: center;
  font-size: 1.5cm;
  font-weight: 700;
  margin: 0.2cm;
}

@media screen and (max-width:961px)  {
  .cellInner {
    width: calc(100vw/10);
    height: calc(100vw/10);
    margin: 2px;
    line-height: calc(100vw/10);
    font-size: 80%;
  }
}

.cellHorizontal {
  position: absolute;
  top: 50%;
  left: 5%;
  bottom: 0cm;
  width: 90%;
  border-top: 0.5px dotted #80808059;
}
.cellVertical {
  position: absolute;
  left: 50%;
  top: 5%;
  right: 0cm;
  height: 90%;
  border-left: 0.5px dotted #80808059;
}

@media print {
  .source {
    display: none;
  }
}
